<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Jade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HFBBS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HFBBS.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HFBBSEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;User Id=root;password=111111;Persist Security Info=True;database=hfbbs&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Jade.Properties.Settings>
      <setting name="EncodingFilePath" serializeAs="String">
        <value>Encoding.txt</value>
      </setting>
      <setting name="AutoRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReplaceString" serializeAs="String">
        <value />
      </setting>
      <setting name="IsOnline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsEditModel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerIp" serializeAs="String">
        <value>192.168.2.205</value>
      </setting>
      <setting name="ServerUser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="ServerPasword" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="ServerDatabase" serializeAs="String">
        <value>hfbbs</value>
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>5809</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>用户</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultTag" serializeAs="String">
        <value>资讯中心</value>
      </setting>
      <setting name="DefaultSource" serializeAs="String">
        <value>合肥热线</value>
      </setting>
      <setting name="DefaultTemplate" serializeAs="String">
        <value>/hfestate/template/estate.htm</value>
      </setting>
      <setting name="PageSize" serializeAs="String">
        <value>20</value>
      </setting>
    </Jade.Properties.Settings>
    <HFBBS.Properties.Settings>
      <setting name="EncodingFilePath" serializeAs="String">
        <value>Encoding.txt</value>
      </setting>
      <setting name="AutoRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultSource" serializeAs="String">
        <value />
      </setting>
      <setting name="ReplaceString" serializeAs="String">
        <value />
      </setting>
    </HFBBS.Properties.Settings>
    <HFBBS.Settings>
      <setting name="EncodingFilePath" serializeAs="String">
        <value>Encoding.txt</value>
      </setting>
    </HFBBS.Settings>
  </userSettings>


  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider"
          invariant="MySql.Data.MySqlClient"
          description=".Net Framework Data Provider for MySQL"
          type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="server=127.0.0.1;database=codematic;uid=sa;pwd=1"/>
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd=1"/>
  </appSettings>

  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>