<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="DefaultPageTable" value="Default"/>
    <add key="SaveFileDir" value="F:\jade\HFBBS\jade-csharp-tool\publish\Data\"/>
  </appSettings>
</configuration>
