<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Start" value="493326325"/>
    <add key="End" value="400000000"/>
    <!--错误后休眠时间 一个小时-->
    <add key="ErrorSleep" value="3600000"/>
    <!--间隔时间-->
    <add key="NomalSleep" value="300"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
